---
layout: default
title: Blog
primary_title: Blog
pagination: 
  enabled: true
  permalink: '/page/:num/'
---

<style>
    /* Container for the cards */
    .row.mb-2 {
    display: flex;
    flex-wrap: wrap;
    }

    /* Card element */
    .col-md-6 {
    display: flex;
    flex-direction: column;
    }

    .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative {
    flex: 1; /* Makes each card stretch to the same height */
    display: flex;
    flex-direction: column;
    }

    .col.p-4.d-flex.flex-column.position-static {
    flex: 1; /* Makes the content area of the card stretch */
    }


    .cropped-img {
        width: 100%;
        /* height: 500px; */
        object-fit: cover;
        object-position: center;

    }


</style>


{% assign paginator = paginator %}
{% assign featured_post = site.posts | where: "featured_blog_post", true | first %}
 

<main class="container">
    <div class= "page-with-hero">
        {% include page-title.html 
            primary_title=page.primary_title 
            title=page.title 
        %}
    </div> 
    <div class="full-width-layout--content">
        <div class="pt-4">

            <!-- FEATURED CONTENT: only shown on the first page  -->
            {% if paginator.page == 1 %}
                {% assign post_metadata_string = "" %}
                <!-- Date -->
                {% assign post_metadata_string = post_metadata_string | append: featured_post.date | date: "%b %d %Y" %}

                {% assign post_metadata_string = post_metadata_string | append: " &bull; " %}
                <!-- Categories -->
                {% for category in featured_post.categories %}
                    {% assign post_metadata_string = post_metadata_string | append: category %}
                    {% if forloop.length > 1 and forloop.last != true %}
                        {% assign post_metadata_string = post_metadata_string | append: ", " %}
                    {% endif %}
                {% endfor %}
                <div class="card mb-4 border shadow-sm rounded text-body-emphasis bg-body-secondary">
                    <img class="card-img-top cropped-img" src="{{featured_post.featured_image | default: '/assets/img/blog-hero-placeholder.png'}}" alt="Card image cap">
                    <div class="card-body">
                        <div class="p-4">
                            <h1 class=" display-6 ">{{ featured_post.title }}</h1>
                            <div class="mb-1 text-body-secondary">{{ post_metadata_string }}</div>
                            <p class="card-text mb-auto">{{ featured_post.excerpt | strip_html | truncatewords: 50 }}</p>
                            <a href="{{  featured_post.url }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- normal posts: the single "featured_post" is not shown here, but previous featured posts will be shown. -->
            {% for post in paginator.posts %}
                {% if post != featured_post %}
                    {% assign post_metadata_string = "" %}
                    <!-- Date -->
                    {% assign post_metadata_string = post_metadata_string | append: post.date | date: "%b %d, %Y" %}

                    {% assign post_metadata_string = post_metadata_string | append: " &bull; " %}
                    <!-- Categories -->
                    {% for category in post.categories %}
                        {% assign post_metadata_string = post_metadata_string | append: category %}
                        {% if forloop.length > 1 and forloop.last != true %}
                            {% assign post_metadata_string = post_metadata_string | append: ", " %}
                        {% endif %}
                    {% endfor %}
                    <div class="row m-2">
                        <div class="card row g-0 border rounded overflow-hidden flex-md-row mb-4 mx-6 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <!-- <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post_category_string }}</strong> -->
                                <h2 class="mb-0">{{ post.title }}</h2>
                                <div class="mb-1 text-body-secondary">{{ post_metadata_string }}</div>
                                    <p class="card-text mb-auto">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                                    <a href="{{  post.url }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center mt-4 mb-0">
                <li class="page-item">
                    <!-- left arrow -->
                    {%- if paginator.previous_page -%}
                        <a class="page-link" href="{{ paginator.previous_page_path | base_url }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {%- else -%}
                        <a class="page-link disabled" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% endif %}
                </li>
          
                <!-- page numbers -->
                {% assign left_ellipsis = false %}
                {% assign right_ellipsis = false %}
            
                {% for i in (1..paginator.total_pages) %}
                    {% assign pre = paginator.page | minus: 1 %}
                    {% assign next = paginator.page | plus: 1 %}
                    {% assign pre_less = pre | minus: 1 %}
                    {% assign next_more = next | plus: 1 %}
                    {% assign show = false %}
                    {% assign firstPage = true %}
            
                    {% if paginator.page == 1 %}
                        {% if i <= 3 or i == paginator.total_pages %}
                            {% assign show = true %}
                        {% endif %}
                    {% elsif paginator.page == paginator.total_pages %}
                            {% if i == 1 or i >= pre_less %}
                                {% assign show = true %}
                            {% endif %}
                    {% else %}
                        {% if i == 1 or i == paginator.total_pages %}
                            {% assign show = true %}
                        {% elsif i >= pre and i <= next %}
                            {% assign show = true %}
                        {% endif %}
                    {% endif %}
                
                    {% if i == 1 %}
                        <!-- blog index page -->   
                        <li class="page-item">
                            <a class="page-link {% if i == paginator.page %} active{% endif %}"" href="/blog">1</a>
                        </li>  
                        {% assign firstPage = false %}            
                    {% elsif show %}
                        <!-- show number -->
                        <li class="page-item {% if i == paginator.page %} active{% endif %}">
                            <a class="page-link" href="/blog/page/{{i}}">{{- i -}}</a>
                        </li>
                    {% else %}
                        <!-- hide number -->
                        {% if i < pre and left_ellipsis == false %}
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                            {% assign left_ellipsis = true %}
                        {% elsif i > next and right_ellipsis == false %}
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                            {% assign right_ellipsis = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

          
              <!-- right arrow -->
              {% if paginator.next_page_path %}
                {% assign next_url = paginator.next_page_path | relative_url %}
              {% else %}
                {% assign next_url = '#' %}
              {% endif %}

              <li class="page-item">
                {% if paginator.next_page %}
                    <a class="page-link" href="{{ next_url }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            </li>
            </ul>
          </nav>

        </div>
    </div>
</main>

